[Desktop Entry]
Type=Application
Name=ownNewsQt5
Icon=icon-launcher-gallery
Exec=invoker --type=silica-qt5 -s /usr/bin/ownNewsQt5
Comment=Sailfish UI application


